.title{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
}
.main_container{
    padding-top: 10%;
    max-width: 1000px;
    margin: auto;


}
.orderItem_container {
    display: flex;

}
.orderItem_container:not(:last-child){
    margin-bottom: 15px;
}
.orderItem_container img{
    height: 112px;
    width: 150px;
}
.order_container{
    border-radius: 20px;
    height: 200px;
    overflow: auto;
}
.order_inputs{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.order_inputs label{
    display: block;
    color:  rgb(83, 76, 76);;
    
}
.order_inputs_text{
    width: 50%;
    
}
.order_inputs_text input{
    padding: 10px;
    font-size: 16px;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    transition: 0.2s;
}
.order_inputs_text input{
    outline: none;
    border-bottom: 1px solid rgb(179, 170, 170);
    
}
.order_inputs_text :not(:last-child){
    margin-bottom: 10px;
}
.order_inputs_title{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}
.order_inputs_radio{


}
.order_inputs_radio input {
    height: 20px;
    width: 20px;
    
}
.order_inputs_radio input:active{
    background-color: rgb(200, 52, 52);
}

.order_inputs_radio_block {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
