
.card{
    
    width: 30%;
    padding: 10px 20px;
}
.card_container{
    border: 1px solid rgb(122, 121, 121);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.card_container p{
    
    margin: 20px 0 20px 0 ;
    font-size: 22px;
    text-align: center;
    
}
.card_container img{
    min-width: 100%;
   

}
.container_text{
  
}
.btn_div{
    color: aliceblue;
    
    transition: 0.5s;
    position: absolute;
    background-color: rgb(15, 15, 16);
    right: 120px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    bottom: 10px;
    
    
}