
.basket_container{
  
    max-width: 50%;
    margin: auto;
    padding-top: 100px;
}
.card_wrapper{
    margin-bottom: 10px;
    display: flex;
}

.card_wrapper img{
    height: 112px;
    width: 150px;
}
.title_basket{
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 25px;
}
.empty_basket{
    
    margin-top: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.btn_form{
    background-color: #000;
    color: aliceblue;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: auto;
    height: 40px;
    width: 100px;
}